.full-calendar {
    display: grid;
    justify-content: center;
    width: 90%;
    padding: 1rem;
    /* this will move to parent css later */
    justify-self: center;
}

.month-navigator {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;
    font-size: 1.5em;
}

.month-arrows {
    font-size: 1em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: gray;
}

.weekday-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.weekday-label {
    font-weight: bold;
    text-align: center;
}

.day-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.day-circle {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    align-content: center;
    text-align: center;
}

.day-circle-today {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    align-content: center;
    text-align: center;
    border: 4px solid #646cff;
    font-weight: bold;
}